# Binaries
*.exe

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# environment variables
.env
.postman

# IDE
.vscode/

# air Temporary files
**/tmp/

# results
response.json